&uart0 {
    reg = <0xf0003000 0x4
        0xf0003004 0x4
        0xf0003008 0x4
        0xf000300c 0x4
        0xf0003010 0x4
        0xf0003014 0x4
        0xf0003018 0x4
        0xf000301c 0x4>;
    reg-names = "rxtx",
        "txfull",
        "rxempty",
        "ev_status",
        "ev_pending",
        "ev_enable",
        "txempty",
        "rxfull";
    interrupts = <0x0 0>;
};
&timer0 {
    reg = <0xf0002800 0x4
        0xf0002804 0x4
        0xf0002808 0x4
        0xf000280c 0x4
        0xf0002810 0x4
        0xf0002814 0x4
        0xf0002818 0x4
        0xf000281c 0x4
        0xf0002820 0x4
        0xf0002824 0x8>;
    reg-names = "load",
        "reload",
        "en",
        "update_value",
        "value",
        "ev_status",
        "ev_pending",
        "ev_enable",
        "uptime_latch",
        "uptime_cycles";
    interrupts = <0x1 0>;
};
&eth0 {
    status = "disabled";
};
&spi0 {
    status = "disabled";
};
&i2c0 {
    status = "disabled";
};
&i2s_rx {
    status = "disabled";
};
&i2s_tx {
    status = "disabled";
};
&clock0 {
    status = "disabled";
};
&ram0 {
    reg = <0x40000000 0x800000>;
};
&dna0 {
    status = "disabled";
};
